---

#
# Server IPs
#

keystone_server: 192.168.100.50
swift_proxy_server: 192.168.100.100
swift_proxy_ssl_proxy_server: 192.168.100.30
package_cache_server: 192.168.100.20

#
# Timezone and NTP
# 

timezone_area: America
timezone_city: Edmonton
time_server: ntp.ubuntu.com

#
# Disks and replica settings
# 

disk_prefix: td
partition_power: 12
replicas: 2
min_part_hours: 1
# Size of the sparse image to be mounted *in gigabytes*
loop_disk_size: 500

#
# Swift hash settings
#

swift_hash_path_suffix: CHANGEME
swift_hash_path_prefix: CHANGEME

#
# Keystone region
# 

keystone_region: Edmonton

#
# Keystone roles, tokens and passwords
# 

keystone_mysql_password: CHANGEME
keystone_admin_token: CHANGEME
keystone_admin_role: admin
keystone_admin_user: admin
keystone_admin_tenant: admin
keystone_admin_user_password: CHANGEME
keystone_generic_service_password: CHANGEME

#
# Configure a test user to run tests with
#

keystone_test_user: achilles
keystone_test_user_password: CHANGEME