export OS_SERVICE_ENDPOINT=http://{{ keystone_server }}:5000/v3
export OS_USERNAME={{ keystone_admin_user }}
export OS_SERVICE_TOKEN={{ keystone_admin_token }}
export OS_IDENTITY_API_VERSION=3
export OS_IMAGE_API_VERSION=2
