unset OS_AUTH_URL
unset OS_USERNAME
unset OS_PASSWORD
unset OS_TENANT_NAME
unset OS_REGION_NAME

export OS_SERVICE_ENDPOINT=http://{{ keystone_server }}:35357/v2.0
export OS_SERVICE_TOKEN={{ keystone_admin_token }}