[DEFAULT]
# XXX Fix these certs XXX
#cert_file = /etc/swift/cert.crt
#key_file = /etc/swift/cert.key
# This is 8888 in official havana doc
bind_ip = {{ ansible_eth2.ipv4.address }}
bind_port = 8080
# is not in official havana example
#workers = 32
user = swift

[pipeline:main]
pipeline = catch_errors healthcheck cache ratelimit authtoken keystoneauth proxy-server

[app:proxy-server]
use = egg:swift#proxy
allow_account_management = true
account_autocreate = true

[filter:keystoneauth]
use = egg:swift#keystoneauth
operator_roles = Member, admin, swiftoperator

[filter:authtoken]
paste.filter_factory = keystoneclient.middleware.auth_token:filter_factory
signing_dir = /var/cache/swift
auth_host = {{ keystone_server }}
auth_port = 35357
#auth_protocol = http
auth_protocol = https
# is not in official havana example
#auth_uri = http://{{ keystone_server }}:5000
admin_tenant_name = service
admin_user = swift
admin_password = {{ keystone_generic_service_password }}
#delay_auth_decision = 10
# is set to tru in official havana documentation
delay_auth_decision = true
insecure = true

[filter:cache]
use = egg:swift#memcache
memcache_servers = {{ ansible_eth3.ipv4.address }}:11211


[filter:catch_errors]
use = egg:swift#catch_errors

[filter:healthcheck]
use = egg:swift#healthcheck

[filter:ratelimit]
use = egg:swift#ratelimit
clock_accuracy = 1000
max_sleep_time_seconds = 60
log_sleep_time_seconds = 0
rate_buffer_seconds = 5
account_ratelimit = 0
